[Desktop Entry]
Name=Sample Application
Exec=/usr/bin/sample-app %U
Icon=sample-app
Type=Application
Categories=Game;ActionGame;
StartupWMClass=SampleApp
